.DomainFieldRow {
  display: flex;
  flex-direction: row;
}

.DomainField {
  flex-grow: 1;
  font-size: 24px;
}

.CurrencyField {
  flex-grow: 0;
  font-size: 20px;
}

.ValidateButton {
  font-size: 24px;
  flex-grow: 0;
}

.FieldRow {
  padding-top: 10px;
  font-size: 20px;
}

.CheckboxField {
  zoom: 2;
}

.DropdownField {
  zoom: 1.5;
}
