.TestListRow {
  text-align: start;
  margin-top: 16px;
}

.TestListHeader {
  background-color: lightgray;
  padding: 8px;
}

.TestListStatus {
  width: 132px;
}

.TestListResults {
  min-height: 16px;
  background-color: azure;
}

.SingleTestTitle {
  cursor: pointer;
}

.ErrorMessages {
  white-space: pre;
  font-family: monospace;
}

.ErrorMessages > div {
  margin: 8px;
}
