.TestListRow {
  text-align: start;
  margin-top: 16px;
}

.TestListHeader {
  background-color: lightgray;
  padding: 8px;
}

.TestListStatus {
  width: 132px;
}

.TestListResults {
  min-height: 16px;
  background-color: azure;
}

.SingleTestTitle {
  cursor: pointer;
}

.ErrorMessages {
  white-space: pre;
  font-family: monospace;
}

.ErrorMessages > div {
  margin: 8px;
}

.OpenCaseLink {
  margin-left: 8px;
  color: blue;
  text-decoration: none;
}

.SourceLineSet {
  background: white;
  margin: 8px;
}

.SourceLineNumber {
  width: 32px;
  padding: 4px;
  border-right: 1px solid black;
  display: inline-block;
}

.SourceLineContent {
  padding: 4px;
}

.SourceLine:nth-child(even) {
  background: rgb(240, 240, 240);
}

.SourceLine:nth-child(odd) {
  background: rgb(255, 255, 255);
}

.SourceLineActive {
  background: rgba(241, 147, 147, 1) !important;
}
